<table class="table table-striped">
  <tbody>
      <tr>
          <th class="">ID</th>
          <td>{{selectedPlantHireRequest._id}}</td>
      </tr>
      <tr>
          <th class="">Supplier</th>
          <td>{{selectedPlantHireRequest.plantInventoryEntryDTO.supplier}}</td>
      </tr>
      <tr>
          <th class="">Cost</th>
        <td>{{selectedPlantHireRequest.cost}}</td>
      </tr>
      <tr>
              <th class="">Site engineer</th>

        <td>{{selectedPlantHireRequest.siteEngineer.name}}</td>
      </tr>
      <tr>
        <th class="">Plant</th>
        <td>{{selectedPlantHireRequest.plantInventoryEntryDTO.name}}</td>
      </tr>
      <tr>
        <th class="">Status</th>
        <td>{{selectedPlantHireRequest.status}}</td>
      </tr>
      <tr>
        <th class="">Start Date</th>
        <td>{{selectedPlantHireRequest.businessPeriodDTO.startDate}}</td>
      </tr>
      <tr>
        <th class="">End Date</th>
        <td>{{selectedPlantHireRequest.businessPeriodDTO.endDate}}</td>
      </tr>
      <tr>
        <td></td>
        <td>
        <button class = "btn btn-success" (click)="acceptPHR(selectedPlantHireRequest._id)">ACCEPT</button>
    
        <button class = "btn btn-danger" (click)="rejectPHR(selectedPlantHireRequest._id)">REJECT</button>
        </td>
      </tr>
  </tbody>
</table>
