<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-7">
            <!-- query.name -->
            <input type="text" class="form-control" name="name" [(ngModel)]="query.name">
        </div>
    </div>
    <div class="form-group">
        <label for="rental-start-date" class="col-sm-3 control-label">Start date</label>
        <div class="col-sm-7">
            <!-- query.startDate -->
            <input type="date" class="form-control" name="rental-start-date" [(ngModel)]="query.startDate">
        </div>
    </div>
    <div class="form-group">
        <label for="rental-end-date" class="col-sm-3 control-label">End date</label>
        <div class="col-sm-7">
            <!-- query.endDate -->
            <input type="date" class="form-control" name="rental-end-date" [(ngModel)]="query.endDate">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <!-- executeQueryEvent.emit(query) -->
            <button id="submit-button" class="btn btn-primary btn-block" (click)="executeEventQuery.emit(query)">
                <span class="glyphicon glyphicon-search"></span> Submit query
            </button>
        </div>
    </div>
</form>