<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">Amount</th>
      <th class="text-center">Due Date</th>
      <th class="text-center">Status</th>
      <th class="text-center">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let invoice of invoicingService.invoices">
      <td>{{invoice._id}}</td>
      <td>{{invoice.amount}}</td>
      <td>{{invoice.dueDate}}</td>
      <td>{{invoice.invoiceStatus}}</td>
      <td>
        <button class = "btn btn-primary"  (click)="showInvoiceDetailsTab.emit(invoice)">VIEW DETAILS</button>
      </td>
    </tr>
  </tbody>
</table>
