<app-phrstatus (showPlantHireRequestTab)='showPlantHireRequestTab()' [selectedPlantHireRequest]='selectedPlantHireRequest' *ngIf="isPHRStatusTabActive"></app-phrstatus>
<app-phrdetails [selectedPlantHireRequest]='selectedPlantHireRequest' *ngIf="isPHRDetailsTabActive"></app-phrdetails>
<app-planthirerequest  (showPHRDetailsTab)='showPHRDetailsTab($event)' (showPHRStatusTab)='showPHRStatusTab($event)' (showPHRExtendTab)='showPHRExtendTab($event)' *ngIf="isPlantHireRequestTabActive" ></app-planthirerequest>
<app-phrextend [selectedPlantHireRequest]='selectedPlantHireRequest' *ngIf="isPHRExtendTabActive"></app-phrextend>