<nav class="navbar navbar-inverse" style = "border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">BUILDIT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active requisitionTab"  (click)="showRequisitionTab()"><a href="#">Requisition</a></li>
        <li class = "plantHireRequestTab"  (click)="showPHRManagementTab()"><a href="#">View Requests</a></li>
        <li class = "invoicingTab"  (click)="showInvoiceManagementTab()"><a href="#">View Invoices</a></li>
        <li class = "purchaseOrderTab"  (click)="showPurchaseOrderTab()"><a href="#">View Purchase Orders</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-requisition (showPHRManagementTab)="showPHRManagementTab()" *ngIf="isRequisitionTabActive"></app-requisition>
<app-phrmanagement  *ngIf="isPHRManagementTabActive" ></app-phrmanagement>
<app-invoicemanagement  *ngIf="isInvoiceManagementTabActive" ></app-invoicemanagement>
<app-pomanagement  *ngIf="isPOManagementTabActive" ></app-pomanagement>

