<h1>
  Plant requisition
</h1>
<app-query-form (executeEventQuery)='requisitionService.executeQuery($event)'></app-query-form>
<app-query-result (selectPlant)='selectPlant($event)' ></app-query-result>
