<h1>Plant Hire Request</h1>
<table class="table table-striped">
  <tbody>

      <tr>
          <th class="">Cost</th>
        <td>{{selectedInvoice.plantHireRequestDTO.cost}}</td>
      </tr>
      <tr>
              <th class="">Site engineer</th>

        <td>{{selectedInvoice.plantHireRequestDTO.siteEngineer.name}}</td>
      </tr>
      <tr>
        <th class="">Plant</th>
        <td>{{selectedInvoice.plantHireRequestDTO.plantInventoryEntryDTO.name}}</td>
      </tr>
      <tr>
        <th class="">Status</th>
        <td>{{selectedInvoice.plantHireRequestDTO.status}}</td>
      </tr>
      <tr>
        <th class="">Start Date</th>
        <td>{{selectedInvoice.plantHireRequestDTO.businessPeriodDTO.startDate}}</td>
      </tr>
      <tr>
        <th class="">End Date</th>
        <td>{{selectedInvoice.plantHireRequestDTO.businessPeriodDTO.endDate}}</td>
      </tr>
  </tbody>
</table>


<h1>INVOICE</h1>
<table class="table table-striped">
  <tbody>
      <tr>
          <th class="">amount</th>
          <td>{{selectedInvoice.amount}}</td>
      </tr>
      <tr>
          <th class="">Due Date</th>
        <td>{{selectedInvoice.dueDate}}</td>
      </tr>
      <tr>
        <th class="">Invoice Status</th>
        <td>{{selectedInvoice.invoiceStatus}}</td>
      </tr>
      <tr>
        <th class="">Purchase Order</th>
        <td><a href =  {{selectedInvoice.purchaseOrderDTO.href}}><button class ="btn btn-primary">OPEN</button></a></td>
      </tr>
  </tbody>
</table>

<h1  *ngIf="selectedInvoice.invoiceStatus=='PENDING'">Update Invoice</h1>
<button *ngIf="selectedInvoice.invoiceStatus=='PENDING'"  class = "btn btn-success" (click)="acceptInvoice(selectedInvoice._id)">ACCEPT</button>
<button *ngIf="selectedInvoice.invoiceStatus=='PENDING'" class = "btn btn-danger" (click)="rejectInvoice(selectedInvoice._id)">REJECT</button>