<table class="table table-striped">
  <tbody>
   
      <tr>
          <th class="">Cost</th>
        <td>{{selectedPlantHireRequest.cost}}</td>
      </tr>
      <tr>
              <th class="">Site engineer</th>

        <td>{{selectedPlantHireRequest.siteEngineer.name}}</td>
      </tr>
      <tr>
        <th class="">Plant</th>
        <td>{{selectedPlantHireRequest.plantInventoryEntryDTO.name}}</td>
      </tr>
      <tr>
        <th class="">Status</th>
        <td>{{selectedPlantHireRequest.status}}</td>
      </tr>
      <tr>
        <th class="">Start Date</th>
        <td>{{selectedPlantHireRequest.businessPeriodDTO.startDate}}</td>
      </tr>
      <tr>
        <th class="">End Date</th>
        <td>{{selectedPlantHireRequest.businessPeriodDTO.endDate}}</td>
      </tr>
  </tbody>
</table>

<h1>Check availability for new end date</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-7">
            <!-- query.name -->
            <input type="hidden" class="form-control" name="name" [(ngModel)]="query.name">
            <label>{{query.name}}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="rental-start-date" class="col-sm-3 control-label">Start date</label>
        <div class="col-sm-7">
            <!-- query.startDate -->
            <input type="hidden" class="form-control" name="rental-start-date" [(ngModel)]="query.startDate">
            <label>{{query.startDate}}</label>
        </div>
    </div>
    <div class="form-group">
        <label for="rental-end-date" class="col-sm-3 control-label">End date</label>
        <div class="col-sm-7">
            <!-- query.endDate -->
            <input type="date" class="form-control" name="rental-end-date" [(ngModel)]="query.endDate">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <!-- executeQueryEvent.emit(query) -->
            <button id="submit-button" class="btn btn-primary btn-block" (click)='requisitionService.executeQuery(query)'>
                <span class="glyphicon glyphicon-search"></span> Submit query
            </button>
        </div>
    </div>
</form>


<app-query-result (selectPlant)='extendPHR($event)' ></app-query-result>
