<table class="table table-striped">
  <tbody>
   
      <tr>
          <th class="">Cost</th>
        <td>{{selectedPlantHireRequest.cost}}</td>
      </tr>
      <tr>
              <th class="">Site engineer</th>

        <td>{{selectedPlantHireRequest.siteEngineer.name}}</td>
      </tr>
      <tr>
        <th class="">Plant</th>
        <td>{{selectedPlantHireRequest.plantInventoryEntryDTO.name}}</td>
      </tr>
      <tr>
        <th class="">Status</th>
        <td>{{selectedPlantHireRequest.status}}</td>
      </tr>
      <tr>
        <th class="">Start Date</th>
        <td>{{selectedPlantHireRequest.businessPeriodDTO.startDate}}</td>
      </tr>
      <tr>
        <th class="">End Date</th>
        <td>{{selectedPlantHireRequest.businessPeriodDTO.endDate}}</td>
      </tr>
  </tbody>
</table>

<h1>Update Plant Hire Request</h1>
<app-query-form (executeEventQuery)='requisitionService.executeQuery($event)'></app-query-form>
<app-query-result (selectPlant)='updatePHR($event)' ></app-query-result>