<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Construction Site ID</th>
      <th class="text-center">Supplier</th>
      <th class="text-center">Cost</th>
      <th class="text-center">Site engineer</th>
      <th class="text-center">Plant</th>
      <th class="text-center">Status</th>
      <th class="text-center">PO Status</th>
      <th class="text-center">Start Date</th>
      <th class="text-center">End Date</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let planthirerequest of plantHireRequestService.plantHireRequests">
      <td>{{planthirerequest.constructionSiteID}}</td>
      <td>{{planthirerequest.plantInventoryEntryDTO.supplier}}</td>
      <td>{{planthirerequest.cost}}</td>
      <td>{{planthirerequest.siteEngineer.name}}</td>
      <td>{{planthirerequest.plantInventoryEntryDTO.name}}</td>
      <td>{{planthirerequest.status}}</td>
      <td>{{planthirerequest.purchaseOrder.status}}</td>
      <td>{{planthirerequest.businessPeriodDTO.startDate}}</td>
      <td>{{planthirerequest.businessPeriodDTO.endDate}}</td>
      <td>

        <button *ngIf="planthirerequest.status!='ACCEPTED'" class = "btn btn-primary" (click)="showPHRDetailsTab.emit(planthirerequest)">EDIT</button>
        <button *ngIf="planthirerequest.status=='PENDING'" class = "btn btn-success" (click)="showPHRStatusTab.emit(planthirerequest)">STATUS</button>
        <button *ngIf="planthirerequest.status!='CANCELLED'&&planthirerequest.purchaseOrder.status!='CLOSED'&&planthirerequest.purchaseOrder.status!='CANCELLED'&&planthirerequest.plantInventoryEntryDTO.supplier!='http://193.40.11.165'" class = "btn btn-danger" (click)="cancelPHR(planthirerequest._id)">CANCEL</button>

        <button *ngIf="planthirerequest.purchaseOrder.status=='OPEN'" class = "btn btn-default" (click)="showPHRExtendTab.emit(planthirerequest)">EXTEND</button>

      </td>
    </tr>
  </tbody>
</table>
