<app-invoicedetails  (showInvoiceTab)='showInvoiceTab()' [selectedInvoice]='selectedInvoice' *ngIf="isInvoiceDetailsTabActive"></app-invoicedetails>
<app-invoice (showInvoiceDetailsTab)='showInvoiceDetailsTab($event)'  *ngIf="isInvoiceTabActive" ></app-invoice>
