<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Plant</th>
      <th class="text-center">Start Date</th>
      <th class="text-center">End Date</th>
      <th class="text-center">Total Cost</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let purchaseOrder of purchaseOrderService.purchaseOrders">
      <td class="text-center">{{purchaseOrder.plant.name}}</td>
      <td class="text-center">{{purchaseOrder.rentalPeriod.startDate}}</td>
      <td class="text-center">{{purchaseOrder.rentalPeriod.endDate}}</td>
      <td class="text-center">{{purchaseOrder.total}}</td>
      <td class="text-center">{{purchaseOrder.status}}</td>

    </tr>
  </tbody>
</table>
